<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <style>
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            outline: 2px solid black;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Book Library</h1>

<table cellspacing="15">
    <thead>
    <tr>
        <th>Szerző</th>
        <th>Cím</th>
        <th>Műfaj</th>
        <th>Kiadási év</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate through books -->
    <tr th:each="book : ${books2}">
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.genre}">Genre</td>
        <td th:text="${book.publicationYear}">Publication Year</td>
    </tr>
    </tbody>
</table>

</body>
</html>
